[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.5"

[packages]
attrdict = "*"
PyYAML = "*"
Kivy = "==1.10.0"
attrs = "*"
cython = "==0.23"

[dev-packages]
